.nav {
  grid-area: n;
  background-color: grey;
  padding: 10px;
  min-width: 150px;
  max-width: 150px;
  width: 100%;
}

.item {
  margin-bottom: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: goldenrod !important;
}